$color-success: #15803d;
$color-success-alt: #166534;
//Slate
$color-0: #0f172a;
$color-1: #1e293b;
$color-2: #334155;
$color-3: #475569;
$color-4: #64748b;
$color-5: #94a3b8;
$color-6: #cbd5e1;
$color-7: #e2e8f0;
$color-8: #f1f5f9;
$color-9: #f8fafc;
//Blue
// $color-0: #1e3a8a;
// $color-1: #1e40af;
// $color-2: #1d4ed8;
// $color-3: #2563eb;
// $color-4: #3b82f6;
// $color-5: #60a5fa;
// $color-6: #93c5fd;
// $color-7: #bfdbfe;
// $color-8: #dbeafe;
// $color-9: #eff6ff;
//Green
// $color-0: #14532d;
// $color-1: #166534;
// $color-2: #15803d;
// $color-3: #16a34a;
// $color-4: #22c55e;
// $color-5: #4ade80;
// $color-6: #86efac;
// $color-7: #bbf7d0;
// $color-8: #dcfce7;
// $color-9: #f0fdf4;
//Red
// $color-0: #7f1d1d;
// $color-1: #991b1b;
// $color-2: #b91c1c;
// $color-3: #dc2626;
// $color-4: #ef4444;
// $color-5: #f87171;
// $color-6: #fca5a5;
// $color-7: #fecaca;
// $color-8: #fee2e2;
// $color-9: #fef2f2;
//Yellow
// $color-0: #713f12;
// $color-1: #854d0e;
// $color-2: #a16207;
// $color-3: #ca8a04;
// $color-4: #eab308;
// $color-5: #facc15;
// $color-6: #fde047;
// $color-7: #fef08a;
// $color-8: #fef9c3;
// $color-9: #fefce8;

$gridLine-animation-speed: 0.35s;
$gridLine-animation-timing: ease-in;
$gridLine-animation-delay: 0s;

$headerContainer-animation-transition-speed: 0.35s;

:root, body {
    font-size: 16px;
}
* {
    box-sizing: border-box;
    font-family: "Times New Roman";
}
body, html {
    height: 100%;
}
body {
    min-height: 100vh;
    width: 100vw;
    background-color: $color-0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ticTacToe {
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    .title {
        flex: 0 0 auto;
        display: block;
        color: $color-9;
        font-size: 2rem;
        font-weight: bolder;
        border-bottom: .15rem solid $color-5;
        margin-bottom: 1.5rem;
        padding: .5rem;
    }
    .slideContainer {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // overflow: hidden;
        &.slidingLeft{
            transform: translateX(-100%);
            animation: slidingLeft .35s ease-in;
            @keyframes slidingLeft {
                0% {
                    transform: translateX(-0%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
        &.slidingRight{
            transform: translateX(0%);
            animation: slidingRight .35s ease-in;
            @keyframes slidingRight {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(0%);
                }
            }
        }
        .slide {
            flex: 1 0 auto;
            width: 100%;
            height: 100%;
            &#gameSlide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &#startSlide {
                display: grid;
                grid-template-rows: auto 1fr auto 1fr;
                .heading {
                    margin-bottom: 1.5rem;
                    color: $color-9;
                    font-size: 2rem;
                    font-weight: bold;
                }
                .option {
                    padding: 1rem;
                    border-radius: 10px;
                    color: $color-0;
                    background-color: $color-6;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 30% 70%;
                    grid-template-rows: auto 1fr;
                    h3 {
                        grid-area: 1 / 1 / 2 / 3;
                        position: relative;
                        text-align: center;
                        font-size: 1.75rem;
                        font-weight: bold;
                        &::after {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 7%;
                            width: 100%;
                            border: 1px solid $color-0;
                        }
                    }
                    svg {
                        grid-area: 2 / 1 / 3 / 2;
                        justify-self: center;
                        align-self: center;
                        height: 50%;
                        width: 50%;
                        fill: $color-0;
                    }
                    .rightPanel {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        button {
                            color: $color-9;
                            font-weight: bold;
                            background-color: $color-success;
                            padding: .5rem 1rem;
                            font-size: 1.1rem;
                            width: 60%;
                            border-radius: 1rem;
                            outline: none;
                            border-top: none;
                            border-right: 2px solid $color-success-alt;
                            border-bottom: 2px solid $color-success-alt;
                            border-left: none;
                            align-self: flex-end;
                        }
                        .optionsForm {
                            flex: 1 0 auto;
                            width: 100%;
                            grid-area: 2 / 2 / 3 / 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: .25rem .5rem;
                            align-self: center;
                            label {
                                font-size: 1.2rem;
                                font-weight: bold;
                                margin: .15rem auto;
                                width: 100%;
                            }
                            label[for="computerDifficulty"]{
                                padding-bottom: .5rem;
                            }
                            input[type=text]{
                                padding: .15rem .25rem;
                                font-size: 1rem;
                                width: 90%;
                            }
                            input[type=range] {
                                appearance: none;
                                -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
                                width: 100%; /* Specific width is required for Firefox. */
                                background: transparent; /* Otherwise white in Chrome */
                                &::-webkit-slider-thumb {
                                    appearance: none;
                                    -webkit-appearance: none;
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    background: $color-1;
                                    cursor: pointer;
                                    margin-top: -.5rem;
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0; /* Add cool effects to your sliders! */
                                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                                }
                                &::-webkit-slider-runnable-track {
                                    &[value="0"]{
                                        background: green;
                                    }
                                    width: 100%;
                                    height: 8.4px;
                                    cursor: pointer;
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0;
                                    background: $color-4;
                                    border-radius: 1.3px;
                                    border: 0.2px solid $color-0;
                                }
                                // &:focus::-webkit-slider-runnable-track {
                                //     background: $color-5;
                                // }
                                &::-moz-range-thumb {
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0;
                                    border: 1px solid $color-0;
                                    height: 36px;
                                    width: 16px;
                                    border-radius: 3px;
                                    background: $color-9;
                                    cursor: pointer;
                                }
                                &::-moz-range-track {
                                    width: 100%;
                                    height: 8.4px;
                                    cursor: pointer;
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0;
                                    background: $color-4;
                                    border-radius: 1.3px;
                                    border: 0.2px solid $color-0;
                                }
                                &::-ms-thumb {
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0;
                                    border: 1px solid $color-0;
                                    height: 36px;
                                    width: 16px;
                                    border-radius: 3px;
                                    background: $color-9;
                                    cursor: pointer;
                                }
                                &::-ms-track {
                                    width: 100%;
                                    height: 8.4px;
                                    cursor: pointer;
                                    background: transparent;
                                    border-color: transparent;
                                    border-width: 16px 0;
                                    color: transparent;
                                }
                                &::-ms-fill-lower {
                                    background: $color-5;
                                    border: 0.2px solid $color-0;
                                    border-radius: 2.6px;
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0;
                                }
                                &:focus::-ms-fill-lower {
                                    background: $color-4;
                                }
                                &::-ms-fill-upper {
                                    background: $color-4;
                                    border: 0.2px solid $color-0;
                                    border-radius: 2.6px;
                                    box-shadow: 1px 1px 1px $color-0, 0px 0px 1px $color-0;
                                }
                                &:focus::-ms-fill-upper {
                                    background: $color-5;
                                }
                                &:focus {
                                    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
                                }
                                &::-ms-track {
                                    width: 100%;
                                    cursor: pointer;
                                
                                    /* Hides the slider so custom styles can be added */
                                    background: transparent; 
                                    border-color: transparent;
                                    color: transparent;
                                }
                            }
                            .rangeOptions {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                p {
                                    font-size: 1rem;
                                    width: 33%;
                                    &:nth-of-type(1){
                                        text-align: left;
                                    }
                                    &:nth-of-type(2){
                                        text-align: center;
                                    }
                                    &:nth-of-type(3){
                                        text-align: right;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                hr {
                    width: 80%;
                    border: 2px solid $color-9;
                    margin: .5rem auto;
                }   
            }
        }
    }
    #gameGrid {
        position: relative;
        width: 80%;
        height: 80%;
        // width: 30rem;
        // height: 30rem;
        // padding: 2rem;
        box-shadow: .25rem .25rem rgba(0,0,0,.35);
        background-color: rgba(255,255,255,.1);
        border-top: .2rem solid rgba(255,255,255,.2);
        border-left: .2rem solid rgba(255,255,255,.2);
        #gameGridMask {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            .gridLine {
                position: absolute;
                background-color: white;
                box-shadow: .25rem .25rem rgba(0,0,0,.35);
                &.horizontal {
                    width: 0;
                    height: .5rem;
                    transform: translateY(-50%);
                    transition: width .5s;
                    &.expanded {
                        width: 100%;
                        animation: expandedHorizontal $gridLine-animation-speed $gridLine-animation-timing $gridLine-animation-delay;
                    }
                    &.leftToRight {
                        left: 0;
                    }
                    &.rightToLeft {
                        right: 0;
                    }
                    &.first {
                        top: 33.3%;
                    }
                    &.second {
                        top: 66.6%;
                    }
                    @keyframes expandedHorizontal {
                        0% {
                            width: 0%;
                        }
                        100% {
                            width: 100%;
                        }
                    }
                }
                &.vertical {
                    height: 0%;
                    width: .5rem;
                    transform: translateX(-50%);
                    transition: height .5s;
                    &.expanded {
                        height: 100%;
                        animation: expandedVertical $gridLine-animation-speed $gridLine-animation-timing $gridLine-animation-delay;
                    }
                    &.topToBottom{
                        top: 0;
                    }
                    &.bottomToTop{
                        bottom: 0;
                    }
                    &.first {
                        left: 33.3%;
                    }
                    &.second {
                        left: 66.6%;
                    }
                    @keyframes expandedVertical {
                        0% {
                            height: 0%;
                        }
                        100% {
                            height: 100%;
                        }
                    }
                }
            }
        }
        #gameGridField {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: .5rem;
            .tile {
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    fill: white;
                    padding: .5rem;
                    width: 0%;
                    height: 0%;
                    &.active {
                        width: 80%;
                        height: 80%;
                        animation: activeAnimation .35s ease-in 0s;
                    }
                    &.inactive {
                        animation: inactiveAnimation .35s ease-in 0s;
                    }
                    @keyframes activeAnimation {
                        0% {width: 0%; height:0%;}
                        80% {width: 90%; height: 90%;}
                        100% {width: 80%; height: 80%;}
                    }
                    @keyframes inactiveAnimation {
                        0% {width: 80%; height:80%;}
                        80% {width: 90%; height: 90%;}
                        100% {width: 0%; height: 0%;}
                    }
    
                }
                &.inactive {
                    &:hover {
                        animation: hoverAnimation 1s ease-in 0s infinite;
                    }
                    @keyframes hoverAnimation {
                        0%   {
                            background-color: rgba(255,255,255,0);
                        }
                        50%  {
                            background-color: rgba(255,255,255, .05);
                        }
                        100% {
                            background-color: rgba(255,255,255,0);
                        }
                    }
                }
            }
        }
    }
}